extends templates/auth

block form
    form(action="/create-account", method="post").auth__form
        input(type="text", placeholder="Email", name="email")
        input(type="password", placeholder="Password", name="password")
        input(type="submit", value="Create Account")

block formLinks
    span Have an account already?
        a(href="/log-in") Log in! 