extends templates/auth

block form
    form(action="/users/forgot-password", method="post").auth__form
        input(type="email", placeholder="Email", name="email", required)    
        input(type="submit", value="Recover Password")

block formLinks
    span 
        a(href="/create-account") Create one!