extends templates/auth


block form
    form(action="/log-in", method="post").auth__form
        input(type="email", placeholder="Email", name="email", required)
        input(type="password", placeholder="Password", name="password", required)
        input(type="submit", value="Log In")
    a(href="/users/forgot-password").auth__form-link Forgot your password?

block formLinks
    span Don't have an account?
        a(href="/create-account") Create one!