header
    h1 Nomad Phone
    div
        if !currentUser
            ul
                li
                    a(href="/create-account") Create Account
                li
                    a(href="/log-in") Log In