extends layout

block header
    span

block content
    .centerAll.create-account.auth
        .header
            a(href="/")
                h1.header__title #{siteName}
            h3.header__subtitle #{title}
        .whiteCard.form__container
            block form
        .form__change-link
            block formLinks